SERVICE_URL=http://localhost:8003
ISSUER_PATH=/openid
SERVICE_PORT=8003
DISPLAY_NAME=wwWallet Issuer
DISPLAY_LOGO_URI=http://localhost:8003/images/logo.png
AUTHORIZATION_SERVER_URL=http://localhost:6060
CREDENTIAL_ISSUANCE_BATCH_SIZE=1
INTROSPECTION_ENDPOINT_BASIC_AUTH_HEADER=aXNzdWVyOnNlY3JldA==
VCT_REGISTRY_URL=http://localhost:8097/type-metadata
VC_CLAIMS_FETCHER_ENABLED=false
VC_CLAIMS_FETCHER_URL=http://localhost:8010/vc-claims
VC_CLAIMS_FETCHER_API_KEY=secret
CREDENTIAL_OFFER_API_ENABLED=false
CREDENTIAL_OFFER_API_BEARER_TOKEN=replace-with-a-random-secret
CREDENTIAL_OFFER_TTL_MS=
SUPPORTED_CREDENTIAL_SCOPES_WHITELIST=pid:sd_jwt_dc,pid:mso_mdoc,diploma,ehic,por:sd_jwt_vc
DEFERRED_CREDENTIAL_RESPONSE_INTERVAL_SEC=120
DATA_STORE_HOST=localhost
DATA_STORE_PORT=6379
DATA_STORE_PASSWORD=secret
PRE_AUTHORIZED_CODE_API_ENABLED=true
PRE_AUTHORIZED_CODE_API_BEARER_TOKEN=secret-bearer-token
PRE_AUTHORIZED_CODE_GRANT_TX_CODE_LENGTH=4
PRE_AUTHORIZED_CODE_GRANT_TTL_MS=60000
PRE_AUTHORIZED_CODE_GRANT_CLIENT_ID_SECRET=wallet_issuer:test
