:root {
	--primary-color: #1b263b;
	--header-bg-color: var(--primary-color);
	--header-item-color: white;
	--layout-bg-color: rgb(255, 255, 255);
	--secondary-color: #778da9;
	--secondary-light-color: #e0e1dd;
	--light-gray: #f5f5f5;
	--dark-gray: #333333;
	--error-red: rgb(209, 3, 3);
	--link-light-blue: rgb(0, 162, 255);
	--btn-yellow: #f9ca1a;
	--btn-yellow-hov: #caa418;
}

/* comment/uncomment to hide ribbon demo */
.ribbon {
	display: block;
}

.menu-area {
	display: block;
}
