#SameDeviceDeviceSelection .Query {
	display: flex;
	gap: 25px;
}

#SameDeviceDeviceSelection .SmallBtnStable {
	width: 80px;
	text-align: center;
}

#SameDeviceDeviceSelection .QueryNo {
	background-color: #a0a0a0;
	color: #fff;
}
